h2{
  color: #000;
}
hr{
  background: #f5f5f5;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #09d3ac;
}
button.login {
  padding: 25px;
  width: 300px;
  border-radius: 13px;
  background: #d49b1a;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form{
  max-width: 750px;
  margin-top: 5%;
  width: 100%;
  background: #485c6d;
  padding: 50px;
  border-radius: 5px;
}
.table {
  color: #1b1b1b;
  background: #f8f9fa;
  border-radius: 5px;
}
.sub-nav ul{
  flex-direction: row;
  padding: 5px;
}
.sub-nav button{
  color: #fff;
}
.register-form{
    padding: 25px;
    background: #f5f5f5;
    color: #000;
    border-radius: 5px;
    margin-top: 21px;
}

ul.navbar-nav.flex-column {
  background: #eceff3;
  border-radius: 2px;
  font-size: 19px;
  line-height: 2;
  font-weight: bold;
  border: 1px solid #3f99f7;
}
.nv.active {
  background: #282c34;
  color: #fff;
}
a.nav-link {
  color: #424040;
  line-height: 1.5;
}
a.nav-link p{
  padding-left: 10px;
}

/* Vacations Form styles */
.vacation-form.col-md-8 {
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}
.daysoff-form.col-md-8 {
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}
.compensation-form.col-md-8 {
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}
.true{
  background: #98FB98;
}
.false{
  background: #b93939;
  color: #fff;
}
.edit-del{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
}
svg.edit {
  font-size: 20px;
}
svg.delete {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3px;
  cursor: pointer;
}
.waiting{
  background-color:yellow;
  color: #000;
}